doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        {!! SEO::get() !!}
        
        //- Fonts
        link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,400")
        link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,400,700,900")
        //- Resource Styles
        link(rel="stylesheet" href="{{ asset('blue/css/bootstrap.min.css') }}")
        link(rel="stylesheet" href="{{ asset('blue/css/font-awesome.min.css') }}")
        link(rel="stylesheet" href="{{ asset('blue/css/animate.min.css') }}")
        link(rel="stylesheet" href="{{ asset('blue/css/bootstrap-switch.min.css') }}")
        link(rel="stylesheet" href="{{ asset('blue/css/checkbox3.min.css') }}")
        link(rel="stylesheet" href="{{ asset('blue/css/jquery.dataTables.min.css') }}")
        link(rel="stylesheet" href="{{ asset('blue/css/dataTables.bootstrap.css') }}")
        link(rel="stylesheet" href="{{ asset('blue/css/select2.min.css') }}")
        //- App Styles
        link(rel="stylesheet" href="{{ asset('blue/css/style.css') }}")
        link(rel="stylesheet" href="{{ asset('blue/css/flat-blue.css') }}")
    body.flat-blue
        @yield('body')
        
        //- Resource Scripts
        script(type="text/javascript" src="{{ asset('blue/js/jquery.min.js') }}")
        script(type="text/javascript" src="{{ asset('blue/js/bootstrap.min.js') }}")
        script(type="text/javascript" src="{{ asset('blue/js/Chart.min.js') }}")
        script(type="text/javascript" src="{{ asset('blue/js/bootstrap-switch.min.js') }}")
        script(type="text/javascript" src="{{ asset('blue/js/jquery.matchHeight-min.js') }}")
        script(type="text/javascript" src="{{ asset('blue/js/jquery.dataTables.min.js') }}")
        script(type="text/javascript" src="{{ asset('blue/js/dataTables.bootstrap.min.js') }}")
        script(type="text/javascript" src="{{ asset('blue/js/select2.full.min.js') }}")
        script(type="text/javascript" src="{{ asset('blue/js/ace/ace.js') }}")
        script(type="text/javascript" src="{{ asset('blue/js/ace/mode-html.js') }}")
        script(type="text/javascript" src="{{ asset('blue/js/ace/theme-github.js') }}")
        //- App Scripts
        script(type="text/javascript" src="{{ asset('blue/js/app.js') }}")
        script(type="text/javascript" src="{{ asset('blue/js/index.js') }}")